<div class="container">
    <div class="row abs-center">
        <div class="col-12 col-md-4">
            <div class="card p-4">
                <div class="card-body">
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                        <div class="row mb-3">
                            <div class="mb-2">
                                <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
                                <input [(ngModel)]="email" name="email" type="email" class="form-control"
                                    id="exampleFormControlInput1" placeholder="nombre@example.com" required>
                            </div>
                            <div class="mt-3">
                                <label for="exampleFormControlInput2" class="form-label">Contraseña</label>
                                <input [(ngModel)]="password" name="password" type="password" class="form-control"
                                    id="exampleFormControlInput2" placeholder="*********" required>
                            </div>
                        </div>
                        <div class="row mt-2 px-2">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>
                        <div class="row text-center mt-2 ">
                            <a routerLink="register" class="links"><small>Registrarse</small></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>