/* You can add global styles to this file, and also import other style files */
body {
    background-color: #070914;
    color: #E9EBF7;
    font-weight: bold;
}

.abs-center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
